
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("BannerSection")

<section class="choose_us_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="choose_us_content">
                    <h5>NEDEN BİZİ SEÇMELİSİNİZ?</h5>
                    <h2>EN İYİ VÜCUDA KAVUŞUN</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="choose_us_box_content">
                        <figure><img src="~/warrior-fight-club/xtreme-fitness-placeholder/assets/images/choose_us_1.png" alt="" class="img-fluid"></figure>
                        <h6>KAS GELİŞİMİ</h6>
                        <p>Hedeflerinize uygun antrenman programlarıyla kas kütlenizi artırın ve formunuzu koruyun.</p>
                        <div class="btn_wrapper">
                            <a class="read_more_btn text-decoration-none" href="./index.html">Daha fazla oku</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="choose_us_box_content">
                        <figure><img src="~/warrior-fight-club/xtreme-fitness-placeholder/assets/images/choose_us_2.png" alt="" class="img-fluid"></figure>
                        <h6>GÜÇLÜ VİTAMİNLER</h6>
                        <p>Vücudunuzun ihtiyacı olan takviyeler ve beslenme danışmanlığı ile enerjinizi zirveye taşıyın.</p>
                        <div class="btn_wrapper">
                            <a class="read_more_btn text-decoration-none" href="./index.html">Daha fazla oku</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="choose_us_box_content">
                        <figure><img src="~/warrior-fight-club/xtreme-fitness-placeholder/assets/images/choose_us_3.png" alt="" class="img-fluid"></figure>
                        <h6>KARIN KASI SEANSLARI</h6>
                        <p>Sıkı bir karın bölgesi ve güçlü merkez bölge (core) kasları için özel hazırlanan programlar.</p>
                        <div class="btn_wrapper">
                            <a class="read_more_btn text-decoration-none" href="./index.html">Daha fazla oku</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="choose_us_box_content">
                        <figure><img src="~/warrior-fight-club/xtreme-fitness-placeholder/assets/images/choose_us_4.png" alt="" class="img-fluid"></figure>
                        <h6>AĞIRLIK KALDIRMA</h6>
                        <p>Doğru tekniklerle güçlenin; profesyonel ekipmanlarımızla sınırlarınızı güvenle zorlayın.</p>
                        <div class="btn_wrapper">
                            <a class="read_more_btn text-decoration-none" href="./index.html">Daha fazla oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aboutus_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 d-lg-block d-md-flex align-items-center">
                <div class="aboutus_image">
                    <figure class="mb-0">
                        <img src="~/warrior-fight-club/xtreme-fitness-placeholder/assets/images/aboutus_image.png" alt="Warrior Fight Club Hakkımızda">
                    </figure>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <div class="aboutus_content">
                    <h5>HAKKIMIZDA</h5>
                    <h2>WARRIOR FIGHT CLUB'A HOŞ GELDİNİZ</h2>
                    <p>Disiplin, güç ve teknikle donanmış profesyonel bir ortamda sınırlarınızı zorlamaya hazır mısınız? Alanında uzman eğitmenlerimizle, fiziksel gelişiminizi en üst seviyeye taşımak ve potansiyelinizi keşfetmek için buradayız.</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                            <div class="counter_wrapper">
                                <span class="rating counter">600</span>
                                <span class="plus_sign">S+</span>
                                <p>ÇALIŞMA SAATİ</p>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-6">
                            <div class="counter_wrapper margin_left">
                                <span class="rating counter">790</span>
                                <span class="plus_sign">+</span>
                                <p>BAŞARILI PROGRAM</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                            <div class="counter_wrapper">
                                <span class="rating counter">2560</span>
                                <span class="plus_sign">+</span>
                                <p>MUTLU ÜYE</p>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-6">
                            <div class="counter_wrapper margin_left">
                                <span class="rating counter">830</span>
                                <span class="plus_sign">+</span>
                                <p>MÜKEMMEL DEĞİŞİM</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrapper">
                        <a class="text-decoration-none readmore_btn" href="./about.html">Devamını Oku<i class="fa-solid fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("HomeServices", new { take = 4 })
@await Component.InvokeAsync("TestimonialsSection", new { take = 6 })
@await Component.InvokeAsync("PackagesSection", new { take = 3 })
